PORT=5000
NODE_ENV=development
# ------------------------------------------------------------------
# DATABASE CONFIGURATION
# To switch: uncomment one DATABASE_URL and comment the other (#)
# ------------------------------------------------------------------
# [Option 1: LOCAL POSTGRESQL]
DATABASE_URL="postgresql://postgres:password@localhost:5432/champions_club_db?schema=public"

# [Option 2: CLOUD - AIVEN POSTGRESQL]
# DATABASE_URL="postgres://avnadmin:your_password@your_aiven_host:port/champions_club_db"
# ------------------------------------------------------------------
JWT_SECRET="champions_club_jwt_secret_dev_key_2026"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="champions_club_jwt_refresh_secret_dev_key_2026"
JWT_REFRESH_EXPIRES_IN="7d"
CORS_ORIGIN="http://localhost:5173"
UPLOAD_DIR="uploads"
